@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
.container {
  padding: 0 2rem;
}



.image {
    
    padding: 0.3rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 380px;
    background-color: #fff;
  }
  .album {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 400px;
      
      margin-left: auto;
      margin-right: auto;
  }
  .name {
      background-color: rgb(116, 114, 114);
      margin: 0 20px;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
  }
  .box {
      background-color: rgb(229, 229, 229);
      margin: 10px;
  }
.fieldset {
    max-width: 400px;
}
  
.inputbox2 {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.btn {
    width: 150px;
    height: 50px;
    margin: 20px;
}
.phototitle {
    text-align: center;
    font-size: 1.7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.footer {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #fff;
}
.footimage {
    align-items: center;
   
    margin-left: 100px;
}
.thanks {
  max-width: 400px;
  font-size: large;
  font-weight: 600;
}
.userbox {
  display: flex;
  max-width: 1800px;
}
.user {
  margin: 10px;
  border: 1px solid #2196F3;
  padding: 5px;
  width: 260px;
}
.user2 {
  margin: 10px;
  width: 600px;
  border: 1px solid #2196F3;
  padding: 5px;
}
 /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .textbox {
    width: 400px;
    border: 1px solid #2196F3;
    border-radius: 10px;
  }
  .ula {
    text-align: left;
    font-size: 1.2rem;
  }
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  