
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(85, 84, 84);
}
.body {
  background-color: #fff;
  padding: 0 10px;
  border-radius: 20px;
  width: 40%;
  margin-top: 5px;
}
.title{
  overflow: hidden;
  background-color: yellow;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 39%; /* Full width */
  font-size: 35px;
  font-weight: 500;
  height: 50px;
  border-radius: 20px;
}
.image {
    
    padding: 0.3rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 100%;
    background-color: #fff;
  }
 
  .storename {
      background-color: rgb(116, 114, 114);
      margin: 0 20px;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
  }
  .campaigntitle {
      margin: 10px 5px 20px 50px;
      font-size: 1.2rem;
      font-weight: 500;
      text-align: left;
  }
  .campaignresult {
      margin: 5px 5px 20px 180px;
      font-size: 1.2rem;
      font-weight: 500;
      text-align: left;
  }
  .contentsimage {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }
  .campaignunit {
    background-color:beige;
    border-radius: 15px;
  }
.footer {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #fff;
}
.footimage {
    align-items: center;
   
    margin-left: 100px;
}


@media only screen and (max-width:600px){  

  .main {
    min-height: 100vh;
    /* padding: 1rem 0; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 250, 250);
  }
  .body {
    background-color: #fff;
  
    border-radius: 20px;
    width: 100%;
    margin-top: 5px;
  }
  .title{
    overflow: hidden;
    background-color: yellow;
    position: fixed; /* Set the navbar to fixed position */
    top: 5px; /* Position the navbar at the top of the page */
    width: 90%; /* Full width */
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    border-radius: 20px;
  }
  .image {
      
      padding: 0.3rem;
      text-align: center;
      color: inherit;
      text-decoration: none;
      border: 1px solid #eaeaea;
      border-radius: 10px;
      transition: color 0.15s ease, border-color 0.15s ease;
      width: 100%;
      background-color: #fff;
    }
   
  .inputframe {
    background-color: #e9eaeb;
    height: 740px;
    margin: 20px 0px;
    padding-top: 30px;
    border: solid 1px;
    border-radius: 20px;
  }
  .campaignresult {
    
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left
}
.footer {
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #fff;
}
.footimage {
  align-items: center;
 margin-bottom: 20px;
  margin-left: 1px;
}

}